.header_outer_container {
  position: sticky;
  top: 0;
  width: 100%;
  height: 10vh;
  background-color: rgb(20, 20, 20);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.5s;
  transition-timing-function: ease-in;
  z-index: 1;
}
/*.nav_black {
  background-color: rgb(20, 20, 20);
}*/
.header_container {
  width: 95%;
  display: flex;
  align-items: center;
}
.header_left {
  display: flex;
  align-items: center;
}
.header_left ul {
  display: flex;
  gap: 18px;
  list-style: none;
  margin-left: 25px;
  padding: 0;
  cursor: pointer;
}
.header_right {
  margin-left: auto;
}
.header_right ul {
  display: flex;
  list-style: none;
  cursor: pointer;
  padding: 0;
  gap: 15px;
}
