.banner {
  position: relative;
  color: white;
  height: 80vh;
  margin-top: -10vh;
  margin-bottom: -88px;
  object-fit: contain;
}
.banner_contents {
  margin-left: 30px;
  padding-top: 30vh;
  height: auto;
  max-width: 600px;
}
.banner_title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.banner_description {
  font-size: 1rem;
  line-height: 1.4;
  max-width: 450px;
  height: auto;
  padding-top: 1rem;
  overflow: hidden;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
.banner_buttons {
  display: flex;
  margin-top: 1rem;
}
.banner_button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 0.2rem;
  padding: 0.5rem 2rem;
  margin-right: 1rem;
  background-color: rgba(51, 51, 51, 0.5);
  transition: all 0.2s ease-in-out;
}
.banner_button.play {
  color: #000;
  background-color: #fff;
}
.banner_button:hover {
  color: #000;
  background-color: #e6e6e6;
  transform: scale(1.05);
}
.banner_fadeBottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40vh;
  background: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.91),
    #111
  );
}
.banner_loading {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2rem;
}
